.delani {
    background: url('./assets/backgrounds/h_img.jpg');
    background-position: center;
    background-size: cover;
    height: 110vh;
    position: relative;
}
.words1 {
    position: absolute;
    top: 31%;
    right: 0.5%;
    color: #fff;
}

.image-bottom img {
    position: absolute;
    bottom: 5%;
}

.serve {
    background: url('./assets/backgrounds/s_image.jpg');
    background-position: center;
    background-size: cover;
    height: 55vh;
    color: #fff;
    position: relative;
}

.we-allign {
    position: absolute !important;
    top: 51%;
    left: 49%;
    transform: translate(-50%, -50%);
}
