.delani {
    background: url('./assets/backgrounds/h_img.jpg');
    background-position: center;
    background-size: cover;
    height: 110vh;
    position: relative;
}
p{
    font-size: .95rem;

}
.words1 {
    position: absolute;
    top: 31%;
    right: 0.5%;
    color: #fff;
}

.image-bottom img {
    position: absolute;
    bottom: 5%;
}

.serve {
    background: url('./assets/backgrounds/s_image.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    color: #fff;
    position: relative;
}

.we-allign {
    position: absolute !important;
    top: 52.5%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.ml{
    margin-left: 4%;
}

.hidden1,
.hidden2,
.hidden3 {
    display: none;
}
.move {
    margin: 3% 0;
}
.work {
    width: 72%;
}

.work img {
    width: 100%;
}
.image-hover {
    position: relative;
}

.image-hover p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    font-weight: 700;
    padding: 10px 10px;
    border-radius: 5px;
    display: none;
    /* border: 1px dashed lime; */
}

.image-hover img {
    transition: all .2s ease-out;
}

.image-hover img:hover {
    opacity: 0.6;
    transition: all .2s ease-out;
    transform: scale(1.05);
    cursor: pointer;
}
.leave-message {
    display: flex;
    justify-content: center;
    color: #fff;
}

.arrange {
    height:88vh;
    background: url('./assets/backgrounds/c_image.jpg');
}

.leave-message h1 {
    text-align: center;
}

.msg-area {
    padding-bottom: 33%;
    
}
.side{
    margin-left: 3.5%;
    width: 63%;
}

input {
    background: transparent !important;
    color: #fff !important;
    border-radius: 0 !important;
}

 ::placeholder {
    color: #fff !important;
}

button {
    color: #fff !important;
}

button:active {
    box-shadow: none !important;
    transform: scaleX(.98);
}

